.nav {
  width: 100%;
  z-index: 100;
  background-color: var(--color-1);
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, var(--color-2), var(--color-3), var(--color-4)) 1;
}
.nav a {
  text-decoration: none;
}

.img-container {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.img-container svg {
  width: 4rem;
  color: #000;
}

.img-container h2 {
  font-weight: 900;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 2rem;
  color: var(--color-4);
}

.img-container img {
  width: 5rem;
  height: auto;
}

.second-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-of-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style: none;
}

.list-of-links a {
  color: #000;
  text-decoration: none;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list-item svg {
  width: 2rem;
  color: var(--color-4);
}

.list-item {
  transition: all 0.4s ease;
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.list-item:hover {
  transform: translateY(-0.5rem);
}

.active a {
  border-bottom: 1px solid var(--color-4);
}

.open-nav-btn {
  z-index: 300;
}

.open-nav-btn svg {
  z-index: 300;
  width: 4rem;
  position: fixed;
  top: 1.5%;
  right: 1%;
  color: black;
  cursor: pointer;
}

.login-btn {
  padding: 0.5rem 2rem;
  background-color: var(--color-2);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
}

.user-container {
  border-left: 3px solid var(--color-2);
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.user-container img {
  width: 3rem;
  border-radius: 2rem;
}

.user-container p {
  font-size: 1.5rem;
  font-weight: 300;
}

@keyframes moveFromRight {
  from {
    opacity: 0;
    transform: translateX(100rem) scale(0.5);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem 0;
    padding-right: 1rem;
  }

  .open-nav-btn svg {
    width: 3rem;
    top: 2%;
  }
}

/* NAV RESPONSIVE */

@media (max-width: 1400px) {
  .nav-container {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .nav-container {
    width: 70%;
  }

  .nav-container .open-nav-btn svg {
    width: 6rem;
  }
}

@media (max-width: 500px) {
  @keyframes moveFromRight {
    from {
      opacity: 0;
      transform: translateY(-100rem) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .nav-container {
    padding-top: 8rem;
    width: 100%;
  }
}
