.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.input-container input {
  outline: none;
  width: 60rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-4);
  font-size: 2.5rem;
  color: #111;
}

.input-container label {
  transition: all 0.4s ease;
  font-size: 1.7rem;
  font-weight: 700;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-2rem);
}

.input-container input:not(:placeholder-shown) ~ label {
  opacity: 1;
  visibility: visible;
  transform: translateY(0rem);
}

.form button {
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: var(--color-2);
  border: none;
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.4 ease;
}

.form button:hover {
  background-color: rgb(184, 92, 56, 0.6);
}
