.overlay {
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.form-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3rem 6rem;
  background-color: var(--color-3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 550;
  min-width: 40rem;
  animation: FadeIn 0.5s ease;
}

.form-desc div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-desc div button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  font-weight: 900;
}

.form-desc div h3 {
  font-size: 2rem;
  color: #fff;
  font-weight: 400;
}

.form-desc form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.form-desc form textarea {
  padding: 0.5rem;
  min-width: 50rem;
  max-width: 50rem;
  min-height: 15rem;
  font-size: 2rem;
  background-color: rgb(184, 92, 56, 0.6);
  outline: none;
  border: none;
  color: white;
}

.form-desc form button {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  background-color: var(--color-2);
  font-weight: 500;
  padding: 1rem 2rem;
}

.form-desc button {
  cursor: pointer;
  border: none;
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
}

.add-img-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  cursor: pointer;
  color: #fff;
  background-color: transparent !important;
}

.add-img-container svg {
  width: 20rem;
  display: block;
  color: #fff;
}

.add-img-container p {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

.img-container {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img-container button {
  position: absolute;
  top: 2%;
  right: 2%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.img-container img {
  width: 20rem;
  max-height: 40rem;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
