@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-1);
}

:root {
  --color-1: #e0c097;
  --color-2: rgb(184, 92, 56);
  --color-3: #5c3d2e;
  --color-4: #2d2424;

  /* NAV LINEAR GRADIENT */
  --color-gradient-2: rgb(184, 92, 56, 0.8);
  --color-gradient-3: rgb(92, 61, 46, 0.4);
  --color-gradient-4: rgb(45, 36, 36, 0.6);
}
