.rules-list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tabbed {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  border-image: linear-gradient(45deg, red, blue, yellow) 1;
}

.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.btn {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-1rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
}

.btn:nth-child(1) {
  background-color: var(--color-3);
}

.btn:nth-child(2) {
  background-color: var(--color-2);
}

.btn:nth-child(3) {
  background-color: var(--color-4);
}

.active {
  transform: translateY(-1rem);
}

.content {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  padding: 2rem;
  padding-top: 3rem;
  border-radius: 1rem;
}

.content h4 {
  font-size: 3rem;
}

.content p {
  font-size: 2rem;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.content svg {
  width: 4rem;
}

.rules-list a {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  text-decoration: none;
}

.rules-list a svg {
  width: 2rem;
}

@media (max-width: 900px) {
  .content-row {
    justify-content: center;
  }
  .content h4 {
    font-size: 2rem;
    text-align: center;
  }
}
